.cl1{
  width: 100%;
  display: flex;
  flex-flow: column wrap;
  margin: 1em;
}

.cl2{
  width: 50%;
  display: flex;
  flex-flow: column wrap;
  margin: 1em;
}

.cl3{
  width: 25%;
  display: flex;
  flex-flow: column wrap;
  margin: 1em;
}
